*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}
.wrapper{
    height: 100vh;
    width:100vw;
    background-color: #bd695e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:200px;
}
h1 {
    color:  #E7E8D1; /* The color of the text */
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    position: absolute;
    top:50px;
}
p{
    font-size: 1.5rem;
    color: #333333;
}
.calculator{
    height:90%;
    max-height: 17rem;
    width:90%;
    max-width: 20rem;
    border: 1px solid rgb(107, 20, 160);
    display: flex;
    flex-direction: column;
    transform: translateY(30px);
    background-color: #E7E8D1;
}
.opAndClear{
    display: flex;
    gap: 10px;
}
.clear{
    transform: translate(-2px, 7px);
    width: 23%;
    height: 50px;
    background-color: #A7BEAE;
    margin: 2px;
    border: 1px solid rgb(107, 20, 160);
    cursor: pointer;
}
.clear:hover{
    background-color: #bd695e;
}
.clear:hover p{
    color: white;
}
.output{
    width: 64%;
    height: 30px;
    border: 1px solid rgb(107, 20, 160);
    display: flex;
    align-items: center;
    padding: 25px 20px;
    background-color: #A7BEAE;
    margin-left: 18px;
    margin-bottom: 5px;
    margin-top: 8px;
    overflow: hidden;
}
.allButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.numbers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 75%;
}
.btn{
    width: 65px;
    height: 43px;
    background-color: #A7BEAE;
    margin: 2px;
    border: 1px solid rgb(107, 20, 160);
    cursor: pointer;
}
.btn:hover{
    background-color: #bd695e;
}
.btn:hover p{
    color: white;
}
.operations{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-10px);
}
.btEqual {
    width: 65px;
    height: 43px;
    background-color: #A7BEAE;
    margin: 2px;
    border: 1px solid rgb(107, 20, 160);
    cursor: pointer;
}
.btEqual:hover{
    background-color: #bd695e;
}
.btEqual:hover p{
    color: white;
}